<div>
    <el-row>
        <el-col :span="9">Image</el-col>
        <el-col :span="5">Official</el-col>
        <el-col :span="4">Auto</el-col>
        <el-col :span="5">Star</el-col>
    </el-row>
    <hr style="border-style: dashed;" />
    <el-row v-for="item in list" :key="item.name">
        <el-col :span="10" class="line-text" :title="item.description">{{item.name}}</el-col>
        <el-col :span="4" class="line-text">
            <i v-if="item.isOfficial" class="el-icon-circle-check" style="color: #67C23A"></i>
            <i v-else class="el-icon-circle-close" style="color: #F56C6C"></i>
        </el-col>
        <el-col :span="3" class="line-text">
            <i v-if="item.isAutomated" class="el-icon-circle-check" style="color: #67C23A"></i>
            <i v-else class="el-icon-circle-close" style="color: #F56C6C"></i>
        </el-col>

        <el-col :span="5" class="line-text">
            <i class="el-icon-star-on" style="color: #409EFF;margin-left: 12px;"></i>
            {{item.starCount}}
        </el-col>
        <el-col :span="2" class="line-text">
            <el-button type="text" icon="el-icon-folder-opened" style="padding: 0px;" @click="getTags(item)">
            </el-button>
        </el-col>
    </el-row>
    <el-drawer :title="tag.current" :visible.sync="tag.show" direction="ltr" size="40%">
        <el-card shadow="never">
            <el-row>
                <el-col :span="12">Tag</el-col>
                <el-col :span="8">Layer</el-col>
            </el-row>
            <hr style="border-style: dashed;" />
            <el-row v-for="item in tag.list" :key="item.name">
                <el-col class="line-text" :span="12">{{item.name}}</el-col>
                <el-col class="line-text" :span="8">{{item.name}}</el-col>
                <el-col class="line-text" :span="4">
                    <el-button type="text" icon="el-icon-download" style="padding: 0px;" @click="pull(item.name)">
                    </el-button>
                </el-col>
            </el-row>
        </el-card>
    </el-drawer>
</div>